//fonts
$laMariaFont: 'Helvetica', 'Arial', sans-serif;

//colors
$gris: rgb(72,72,72);
$grisAlpha: rgba(72,72,72,0.1);
$linksColor: rgb(18,140,126);
$WhatsApp: rgb(37,211,102);
$Airbnb: rgb(255,90,95);

//loader
$circleW: 112.5px;
$circleH: 112.5px;
$circleR: 56.25px;
$logoW: 150px;
$logoH: 150px;

//Bootstrap SCSS
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

body { padding: 68px 0px 0px 0px; }

@mixin thatFont ($theSize, $theWeight, $theColor) {
    font-family: $laMariaFont;
    color: $theColor;
    font-size: $theSize;
    font-weight: $theWeight;
}

@mixin thatShadow ($theHorizontal, $theVertical, $theBlurRadius, $theSpreadRadius, $theColor) {
    -webkit-box-shadow: $theHorizontal $theVertical $theBlurRadius $theSpreadRadius $theColor;
    -moz-box-shadow: $theHorizontal $theVertical $theBlurRadius $theSpreadRadius $theColor;
    box-shadow: $theHorizontal $theVertical $theBlurRadius $theSpreadRadius $theColor;
}

//PRELOADER
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper{
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;

    .bar {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: $circleW;
        height: $circleH;
        z-index: 1;

        .circle{
            position: absolute;
            background-color: transparent;
            width: 100%;
            height: 100%;
            border-top: 3px solid cyan;
            border-radius: $circleR; 
            animation: 3s theAnimation ease infinite;
            box-sizing: border-box;
        }
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: $logoW;
        height: $logoH;
        z-index: 0;
    }
}

@keyframes theAnimation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
    
}

//TEXT
h1, h2 { @include thatFont(18px, bold, $gris); }
h3 { @include thatFont(14px, bold, $gris); }
p { @include thatFont(14px, normal, $gris); }

//MENU
.navbar-toggler {
    border: none;
    .fa-bars, .fa-times { color: $gris; }
}

.mynav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    background-color: #fff;
    transition: 0.2s;
    @include thatShadow(0px,2px, 18px, -7px, $gris);
}

.pushMenu {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 0;
    top: 0;
    right: -100%;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 68px;
    transition: 0.2s;

    ul {
        li {
            margin: 15px 0px;  
            a { @include thatFont(24px, bold, $gris !important); }
        }
    }
}

//JUMBOTRON
.jumbotron {
    min-height: 70vh;
    background: url("../assets/images/jumbotronBg.jpg") no-repeat center center; 
    background-size: cover;
    h1 { 
        text-shadow: 2px 2px 3px $gris;
        @include thatFont(18px, bold, #fff); 
    }
    p { 
        text-shadow: 2px 2px 3px $gris;
        @include thatFont(16px, normal, #fff); 
    }

}

//IMAGES
#coffee, #adventurous, #colombia {
    width: 100%;
    height: 146px;
    object-fit: cover;
}

#coffee {
    margin-top: 50px;
    opacity: 0;
}

#colombia, #adventurous {
    margin-top: 100px;
    opacity: 0;
}

.carousel-item {
    img {
        height: 181px;
        object-fit: cover;
    }
}

//BUTTONS
.myBtnInfo {
    margin-top: 32px;
    @include thatFont(16px, bold, $linksColor);
    text-decoration: underline;
}
.myBtnInfo:hover { color: $linksColor; }

.myBtnWP {
    @include thatFont(13px, bold, #fff);
    text-align: center;
    background-color: $WhatsApp;
    height: 40px;
    padding: 10px 12px;
}
.myBtnAB {
    @include thatFont(13px, bold, #fff);
    text-align: center;
    background-color: $Airbnb;
    height: 40px;
    padding: 10px 12px;
}
.myBtnWP:hover, .myBtnAB:hover { color: #fff; } 

.myBtnSend {
    @include thatFont(16, bold, #fff);
    text-align: center;
    background-color: $linksColor;
    width: 100%;
    border-radius: 0px; 
}

//CONTENT

#main {
    position: absolute;
    overflow: scroll;
    z-index: 1;
    top: 68px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    transition: 0.2s;
}

#ubicacion { 
    p { border-left: none; }
    #map { height: 320px; }
}

#alojamiento { p { @include thatFont(14px, normal, $gris); } }

.enter {
    border: .5px solid $grisAlpha;
    width: 95%;
    margin: 32px auto; 
}

form {
    .form-group {
        .form-control {
            border: 4px solid $gris;
            border-radius: 0px;
            @include thatFont(14px, normal, $gris);
        }
        .form-control::placeholder { @include thatFont(14px, normal, $gris); }
        label { @include thatFont(14px, bold, $gris); }
        .error { @include thatFont(14px, normal, red); margin-top: 10px; }
    }
}


footer {
    p { @include thatFont(14px, normal, $gris); }
    a { @include thatFont(14px, bold, $gris); }
}


@include media-breakpoint-up(sm) {
    //PRELOADER
    .preloader-wrapper{
    
        .bar {
            width: $circleW * 2;
            height: $circleH * 2;
    
            .circle{
                border-radius: $circleR * 2; 
            }
        }
    
        .logo {
            width: $logoW * 2;
            height: $logoH * 2;
        }
    }
    //TEXT
    h2 { @include thatFont(30px, bold, $gris); }
    h3 { @include thatFont(21px, bold, $gris); }
    p { @include thatFont(21px, normal, $gris); }

    //MENU
    nav {
        padding-bottom: 0px !important;
        ul {
            li {
                padding: 6.5px 15px;
                border-bottom: 6px solid transparent;
                a { @include thatFont(16px, bold, $gris !important); }
                a:hover { color: $gris !important; }
                a:active{ color: $linksColor !important; }
            }
            li:hover { border-bottom: 6px solid $linksColor; }
        }
    }

    //JUMBOTRON
    .jumbotron {
        margin-bottom: 64px;
        h1 { @include thatFont(40px, bold, #fff); }
        p { @include thatFont(30px, normal, #fff); }
    }

    //IMAGES
    #coffee, #adventurous, #colombia { 
        width: 100%; 
        height: 457px; 
        object-fit: cover; 
    }
    .carousel-item { img { height: 627px; } }

    //BUTTONS
    .myBtnInfo { @include thatFont(18px, bold, $linksColor);}
    .myBtnWP, .myBtnAB { 
        @include thatFont(18px, bold, #fff); 
        height: 50px;
    }

    //CONTENT
    #ubicacion { 
        p { border-left: 4px solid $gris; }
        #map { height: 457px; }
    }

    #alojamiento { p { @include thatFont(18px, normal, $gris) } }

    .enter { margin: 64px auto; }

    form {
        .form-group {
            .form-control { @include thatFont(18px, normal, $gris); }
            .form-control::placeholder { @include thatFont(18px, normal, $gris); }
            label { @include thatFont(18px, bold, $gris); }
        }
    }
  }