body {
  padding: 68px 0px 0px 0px; }

body.preloader-site {
  overflow: hidden; }

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999; }
  .preloader-wrapper .bar {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 112.5px;
    height: 112.5px;
    z-index: 1; }
    .preloader-wrapper .bar .circle {
      position: absolute;
      background-color: transparent;
      width: 100%;
      height: 100%;
      border-top: 3px solid cyan;
      border-radius: 56.25px;
      animation: 3s theAnimation ease infinite;
      box-sizing: border-box; }
  .preloader-wrapper .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    z-index: 0; }

@keyframes theAnimation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

h1, h2 {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #484848;
  font-size: 18px;
  font-weight: bold; }

h3 {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #484848;
  font-size: 14px;
  font-weight: bold; }

p {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #484848;
  font-size: 14px;
  font-weight: normal; }

.navbar-toggler {
  border: none; }
  .navbar-toggler .fa-bars, .navbar-toggler .fa-times {
    color: #484848; }

.mynav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background-color: #fff;
  transition: 0.2s;
  -webkit-box-shadow: 0px 2px 18px -7px #484848;
  -moz-box-shadow: 0px 2px 18px -7px #484848;
  box-shadow: 0px 2px 18px -7px #484848; }

.pushMenu {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 0;
  top: 0;
  right: -100%;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 68px;
  transition: 0.2s; }
  .pushMenu ul li {
    margin: 15px 0px; }
    .pushMenu ul li a {
      font-family: "Helvetica", "Arial", sans-serif;
      color: #484848 !important;
      font-size: 24px;
      font-weight: bold; }

.jumbotron {
  min-height: 70vh;
  background: url("../assets/images/jumbotronBg.jpg") no-repeat center center;
  background-size: cover; }
  .jumbotron h1 {
    text-shadow: 2px 2px 3px #484848;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: bold; }
  .jumbotron p {
    text-shadow: 2px 2px 3px #484848;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: normal; }

#coffee, #adventurous, #colombia {
  width: 100%;
  height: 146px;
  object-fit: cover; }

#coffee {
  margin-top: 50px;
  opacity: 0; }

#colombia, #adventurous {
  margin-top: 100px;
  opacity: 0; }

.carousel-item img {
  height: 181px;
  object-fit: cover; }

.myBtnInfo {
  margin-top: 32px;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #128c7e;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline; }

.myBtnInfo:hover {
  color: #128c7e; }

.myBtnWP {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: #25d366;
  height: 40px;
  padding: 10px 12px; }

.myBtnAB {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: #ff5a5f;
  height: 40px;
  padding: 10px 12px; }

.myBtnWP:hover, .myBtnAB:hover {
  color: #fff; }

.myBtnSend {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #fff;
  font-size: 16;
  font-weight: bold;
  text-align: center;
  background-color: #128c7e;
  width: 100%;
  border-radius: 0px; }

#main {
  position: absolute;
  overflow: scroll;
  z-index: 1;
  top: 68px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  transition: 0.2s; }

#ubicacion p {
  border-left: none; }

#ubicacion #map {
  height: 320px; }

#alojamiento p {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #484848;
  font-size: 14px;
  font-weight: normal; }

.enter {
  border: 0.5px solid rgba(72, 72, 72, 0.1);
  width: 95%;
  margin: 32px auto; }

form .form-group .form-control {
  border: 4px solid #484848;
  border-radius: 0px;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #484848;
  font-size: 14px;
  font-weight: normal; }

form .form-group .form-control::placeholder {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #484848;
  font-size: 14px;
  font-weight: normal; }

form .form-group label {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #484848;
  font-size: 14px;
  font-weight: bold; }

form .form-group .error {
  font-family: "Helvetica", "Arial", sans-serif;
  color: red;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px; }

footer p {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #484848;
  font-size: 14px;
  font-weight: normal; }

footer a {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #484848;
  font-size: 14px;
  font-weight: bold; }

@media (min-width: 576px) {
  .preloader-wrapper .bar {
    width: 225px;
    height: 225px; }
    .preloader-wrapper .bar .circle {
      border-radius: 112.5px; }
  .preloader-wrapper .logo {
    width: 300px;
    height: 300px; }
  h2 {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #484848;
    font-size: 30px;
    font-weight: bold; }
  h3 {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #484848;
    font-size: 21px;
    font-weight: bold; }
  p {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #484848;
    font-size: 21px;
    font-weight: normal; }
  nav {
    padding-bottom: 0px !important; }
    nav ul li {
      padding: 6.5px 15px;
      border-bottom: 6px solid transparent; }
      nav ul li a {
        font-family: "Helvetica", "Arial", sans-serif;
        color: #484848 !important;
        font-size: 16px;
        font-weight: bold; }
      nav ul li a:hover {
        color: #484848 !important; }
      nav ul li a:active {
        color: #128c7e !important; }
    nav ul li:hover {
      border-bottom: 6px solid #128c7e; }
  .jumbotron {
    margin-bottom: 64px; }
    .jumbotron h1 {
      font-family: "Helvetica", "Arial", sans-serif;
      color: #fff;
      font-size: 40px;
      font-weight: bold; }
    .jumbotron p {
      font-family: "Helvetica", "Arial", sans-serif;
      color: #fff;
      font-size: 30px;
      font-weight: normal; }
  #coffee, #adventurous, #colombia {
    width: 100%;
    height: 457px;
    object-fit: cover; }
  .carousel-item img {
    height: 627px; }
  .myBtnInfo {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #128c7e;
    font-size: 18px;
    font-weight: bold; }
  .myBtnWP, .myBtnAB {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 50px; }
  #ubicacion p {
    border-left: 4px solid #484848; }
  #ubicacion #map {
    height: 457px; }
  #alojamiento p {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #484848;
    font-size: 18px;
    font-weight: normal; }
  .enter {
    margin: 64px auto; }
  form .form-group .form-control {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #484848;
    font-size: 18px;
    font-weight: normal; }
  form .form-group .form-control::placeholder {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #484848;
    font-size: 18px;
    font-weight: normal; }
  form .form-group label {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #484848;
    font-size: 18px;
    font-weight: bold; } }
